input[type="radio"] {
  appearance: none;
  margin: 0 20px;
  width: 24px;
  height: 24px;
  background: #eeeeee00;
  box-shadow: inset 0 0 0 0.4em white, 0 0 0 0.3em;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  color: #595757;
}

input[type="radio"]:hover {
  background: rgba(236, 94, 103, 1);
  box-shadow: inset 0 0 0 0.4em white, 0 0 0 0.3em rgba(236, 94, 103, 1);
}

input[type="radio"]:checked {
  background: rgba(236, 94, 103, 1);
  box-shadow: inset 0 0 0 0.4em white, 0 0 0 0.3em rgba(236, 94, 103, 1);
}

input[type="radio"]:focus {
  outline: 0;
}

.text {
  color: grey;
  font-size: 14px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.longhand {
  flex-flow: wrap row;
}
.flex-item {
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  text-align: center;
  padding: 10px;
}
