.containerToogle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 1rem;
  box-sizing: border-box;
  font-size: 25px;
}
.checkbox {
  position: relative;
  width: 80px;
  height: 36px;
  background-color: transparent;
}
.checkbox input,
.checkbox-inner:before,
.checkbox-inner span,
.checkbox-inner label {
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox input {
  opacity: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.checkbox-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
  transform: rotate(-12deg);
  transition-property: transform;
  transition-timing-function: linear;
  transition-delay: 0.15s;
  transition-duration: 0.3s;
}
.checkbox-inner:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: inset 0 10px 16px 0 rgba(0, 0, 0, 0.28);
}
.checkbox-inner span {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.17turn, #fbfbfb, #0ddcfd, #117aa3);
  transform-origin: right;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.45s;
  transition-duration: 1.25s;
}
.checkbox-inner label {
  position: absolute;
  z-index: 2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: radial-gradient(75% 65%, #fdfdfd 15%, #ffc107 100%);
  transition-property: left;
  transition-delay: 0.32s;
  transition-duration: 1.32s;
  top: 2px;
  left: 1px;
  border: 4mm ridge rgb(217 212 35 / 71%);
}
.checkbox__on,
.checkbox__off {
  position: absolute;
  top: 0;
  height: 100%;
  transition: opacity 0.32s linear 0s;
}
.checkbox__on {
  right: 100%;
  margin-right: 16px;
  opacity: 1;
}
.checkbox__off {
  left: 100%;
  margin-left: 16px;
  opacity: 0.24;
}
.checkbox input:checked + .checkbox-inner {
  transform: rotate(12deg);
}
.checkbox input:checked + .checkbox-inner label {
  left: calc(100% - 32px);
}
.checkbox input:checked + .checkbox-inner span {
  transform: scaleX(0);
}
.checkbox input:checked ~ .checkbox__on {
  opacity: 0.24;
}
.checkbox input:checked ~ .checkbox__off {
  opacity: 1;
}
