.MuiTab-wrapper {
  font-size: 20px;
}

.formElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.formEl {
  margin: 2rem;
}

.formDetail {
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  padding: 2rem 0;
}

.submit {
  display: flex;
  flex-direction: row-reverse;
}
.formBtn {
  padding: 5px 15px 5px 15px;
  font-size: large;
}

.fieldset {
  position: relative;
  border: 1px solid #ddd;
  padding: 1rem;
}

.fieldset h1 {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1;
  margin: -9px 0 0 -0.5rem;
  background: #fff;
  padding: 0 0.5rem;
}

.resume_trans_icon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
}

.time {
  color: crimson;
  font-size: x-large;
}
.sleep {
  color: #ff9900;
  font-size: x-large;
}
.meal {
  color: cornflowerblue;
  font-size: x-large;
}

.trans_items {
  padding: 0.75rem 0;
  font-size: 1.15rem;
  color: #2f4f4fc7;
  line-height: 1.5;
}

.form_title {
  font-size: 18px;
}
