@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.Menutitle {
  font-family: "Pacifico", cursive;
  color: #5e72e4;
}

.toolbar {
  color: #5e72e4;
}

.avatar {
  font-size: 1rem;
  display: inline-flex;
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 0.375rem;
  background-color: #adb5bd;
  align-items: center;
  justify-content: center;
}
.avatar.rounded-circle img,
.rounded-circle {
  border-radius: 50% !important;
}

a {
  text-decoration: none;
  /* color: #5e72e4; */
  background-color: transparent;
}

.avatar.rounded-circle img,
.rounded-circle {
  border-radius: 50% !important;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
}
img {
  vertical-align: middle;
  border-style: none;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.isPresent {
  background-color: #2dce89;
}

.isAbsent {
  background-color: #cc1609;
}
