@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: white;
  color: #4f4e4e;
  border: solid 0.1px black;
}

.sidebar-menu {
  font-size: 16px;
}

.sidebar-icon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.item {
  color: inherit;
  text-decoration: inherit;
}

.sidebar-items .item {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.item:hover {
  color: #4f4e4e79;
}

a.item.active {
  background-color: rgba(236, 94, 103, 1);
  color: white;
}

/* Collapsed Sidebar */

.sidebar.collapsed {
  width: 52px;
}

.sidebar.collapsed .sidebar-icon {
  margin-right: 0;
}

.sidebar.collapsed .sidebar-text,
.sidebar.collapsed .sidebar-menu {
  display: none;
}
