.buttonmodal.positive,
a.buttonmodal.positive {
  border-color: #6199b7;
  color: #6199b7;
}

.modalfooter .buttonmodal {
  margin: 1rem 0.5rem;
  border-radius: 1.5rem;
}

.buttonmodal,
a.buttonmodal {
  display: inline-block;
  padding: 0.25em 1em;
  box-sizing: border-box;
  background: #ffffff;
  color: #606060;
  text-decoration: none;
  letter-spacing: 0.075em;
  line-height: 2rem;
  font-family: Raleway, Open Sans, Arial;
  font-weight: 300;
  font-size: 0.85em;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  transition: 0.1s all;
  cursor: pointer;
}

.modal-header {
  color: #5e72e4;
}
.modal-body {
  font-size: 1.15rem;
  color: darkslategrey;
}

.modal-backdrop.show {
  backdrop-filter: blur(5px);
  background-color: #01223773;
  opacity: 60%;
}
