input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5) sepia(1.5) saturate(8) hue-rotate(315deg);
  font-size: x-large;
  margin-left: 15px;
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
  opacity: 0.6;
}

input#time {
  width: 100%;
  padding: 10px 80px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 1em;
  appearance: none;
  border-radius: 15px;
  color: rgba(236, 94, 103, 1);
}

input#time:focus {
  outline: none !important;
  border-color: #999;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
